@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    color: #2D3440;
    background-color: #FEAFC3;
}

.title {
    font-weight: 700;
}

.text-bold {
    font-weight: 900;
}

.navigation-link {
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.section {
    margin: 15px 5px 15px;
}

.advantages {
    background: #eee2c9 url("/img/bg/wafer-bg.png") no-repeat;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 16px;
}

.advantages-container {
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 10px;
}

.advantages-container h2 {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.section-blog {
    border-radius: 16px;
    background: #ffffff url("/img/bg/news.jpg") no-repeat;
    padding-top: 10px;
    padding-left: 5px;
}

.section-mail {
    border-radius: 16px;
    background: #ffffff url("/img/bg/mail-bg.png") no-repeat;
    padding-top: 10px;
    padding-left: 5px;
}

.mail-container {
    background-color: #FCFCFC;
    border-radius: 16px;
}

.delivery {
    border-radius: 16px;
    background: #ffffff url("/img/bg/delivery-bg.jpg") no-repeat;
    padding-top: 10px;
    padding-left: 5px;
}
