@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    color: #2D3440;
    background-color: #FEAFC3;
    box-sizing: content-box;
}

.title {
    font-weight: 700;
}

.text-bold {
    font-weight: 900;
}

.page-header,
.page-container,
.navigation,
.page-footer,
.navigation-user,
.slide {
    outline: 1px solid #666;
}

.page-header {
    min-height: 104px;
    display: flex;
    align-items: center;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.navigation {
    margin-left: 32px;

}

.navigation-user {
    margin-left: auto;

}

.navigation-item {
    margin: 0 16px;
}

.navigation-item:first-child,
.navigation-item:last-child {
    margin: 0;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navigation-link {
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.slide {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.slide-pagination {
    display: flex;
    margin: 0;
    padding: 0;
}

.slide-pagination-list {
    margin-right: 8px;
}

.slide-social-icon {
    display: flex;
    margin: 0;
    padding: 0;
}

.slide-social-item {
    margin-left: 16px;
}

.slide-list {
    width: 1170px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

}

.slide-item-left {
    width: 470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 70px;
}

.slide-heading {
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 24px 0;
    padding: 0;
}

.slide-description {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 48px 0;
    padding: 0;

}

.slide-item-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.slide-img-small {
    margin-left: 75px;
}

.slide-item {
    list-style-type: none;
    display: flex;
}

.slide-pagination-list {
    list-style-type: none;
}

.slide-social-item {
    list-style-type: none;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.section {
    margin: 15px 5px 15px;
}

.advantages {
    background: #eee2c9 url("/img/bg/wafer-bg.png") no-repeat;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 16px;
}

.advantages-container {
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 10px;
}

.advantages-container h2 {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.section-blog {
    border-radius: 16px;
    background: #ffffff url("/img/bg/news.jpg") no-repeat;
    padding-top: 10px;
    padding-left: 5px;
}

.section-mail {
    border-radius: 16px;
    background: #ffffff url("/img/bg/mail-bg.png") no-repeat;
    padding-top: 10px;
    padding-left: 5px;
}

.mail-container {
    background-color: #FCFCFC;
    border-radius: 16px;
}

.delivery {
    border-radius: 16px;
    background: #ffffff url("/img/bg/delivery-bg.jpg") no-repeat;
    padding-top: 10px;
    padding-left: 5px;
}

/* Готовлюсь скрыть элементы */
/* .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
} */
