@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    color: #2D3440;
    background-color: #FEAFC3;
    box-sizing: content-box;
}

.title {
    font-weight: 700;
}

.text-bold {
    font-weight: 900;
}

.page-header {
    min-height: 104px;
    display: flex;
    align-items: center;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.navigation {
    margin-left: 16px;
}

.navigation-user {
    margin-left: auto;
}

.list-none {
    list-style-type: none;
}

.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navigation-link {
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    padding: 16px;
}

.bread-crumbs {
    display: flex;
    gap: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    padding: 0;
}

.bread-crumbs,
.bread-crumbs a {
    color: #2D3440;
}

.bread-crumbs a {
    padding: 16px;
}

.sorting-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "f1 f2 f3 f3"
        "f4 f4 f4 f5";
}

.sorting-filter fieldset:nth-child(1) {
    grid-area: f1;
}

.sorting-filter fieldset:nth-child(2) {
    grid-area: f2;
}

.sorting-filter fieldset:nth-child(3) {
    grid-area: f3;
}

.sorting-filter fieldset:nth-child(4) {
    grid-area: f4;
}

.sorting-filter button {
    grid-area: f5;
}

.catalog-filter-list {
    display: flex;
    gap: 21px;
}

.slide {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide-pagination {
    display: flex;
    margin: 0;
    padding: 0;
}

.slide-pagination-list {
    margin-right: 8px;
}

.slide-social-icon {
    display: flex;
    margin: 0;
    padding: 0;
}

.slide-social-item {
    margin-left: 16px;
}

.slide-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.slide-item-left {
    width: 470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 70px;
}

.slide-heading {
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 24px 0;
    padding: 0;
}

.slide-description {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 48px 0;
    padding: 0;
}

.slide-item-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.slide-img-small {
    margin-left: 75px;
}

.slide-item {
    display: flex;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.showcase-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;
    text-align: center;
}

.showcase-item {
    background: #FCFCFC;
    border-radius: 16px;
    padding: 16px 40px 28px 40px;
}

.showcase-item > h4,
.showcase-item > div {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}

.showcase-item > p {
    font-size: 16px;
    line-height: 22px;
}

.showcase h2 {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    width: 100%;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.section {
    margin: 15px 0 15px;
}

.section-present {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
}

.section-present h2 {
    text-align: center;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
}

.section-present-list {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.section-present-item {
    background: #FF7799;
    border-radius: 16px;
    padding: 20px 235px 40px 40px;
}

.advantages {
    background: #eee2c9 url("/img/bg/wafer-bg.png") no-repeat;
    border-radius: 16px;
    padding: 2px 24px 2px 24px;
    margin: 0;
    margin-top: 80px;
}

.advantages-container {
    background-color: #FCFCFC;
    border-radius: 16px;
}

.advantages-container h2 {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    padding-top: 25px;
}

.section-list {
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-left: 60px;
    margin-right: 40px;
    gap: 0px 95px;
}

.section-delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    border-radius: 16px;
    background: #ffffff url("/img/bg/delivery-bg.jpg") no-repeat;
    padding-top: 10px;
    padding-left: 5px;
    min-height: 534px;
    padding: 0;
}

.delivery {
    width: 356px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.delivery h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.delivery h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.delivery-form {
    background: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 500px;
}

.delivery,
.delivery-form {
    margin: 64px;
}

.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
}

.button-slide {
    color: #2D3440;
}

.blog-mail {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.section-blog {
    padding: 32px 235px 65px 32px;
    border-radius: 16px;
    background: #ffffff url("/img/bg/news.jpg") no-repeat;
}

.section-mail {
    padding: 0;
    border-radius: 16px;
    background: #ffffff url("/img/bg/mail-bg.png") no-repeat;
    padding: 5px;
    box-sizing: content-box;
}

.mail-container {
    display: flex;
    background-color: #FCFCFC;
    border-radius: 16px;
}


.mail-container div {
    margin: 32px;
}
.address {
    margin-top: 80px;
    min-height: 492px;
    padding: 0;
    border-radius: 16px;
    background: #ffffff url("/img/bg/address-bg.jpg") no-repeat;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.section-address p {
    margin: 6px 0px;
}

.section-address {
    background: #FCFCFC;
    border-radius: 8px;
    width: 343px;
    padding: 40px;
    font-style: normal;
    display: flex;
    flex-flow: column wrap;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.show-more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-more div {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.show-more-list {
    display: flex;
    gap: 16px;
    padding: 0;
}

.show-more-list a {
    color: #2D3440;
    text-decoration: none;
}

.footer-social-list{
    display: flex;
    padding: 0;
}

.footer-social-item {
    margin-right: 16px;
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #2D3440;
}

.footer-info li:first-child {
    font-weight: 700;
}

.footer-info-link {
    text-decoration: none;
    color: #2D3440;
}

.footer-developer,
.footer-developer a {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 5px;
    color: #2D3440;
}

/* .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
